.canvaPdf {
    border-radius: var(--radius-2);
    border: 1px solid var(--gray-6);
    filter: drop-shadow(0px 0px 2px var(--gray-6));
}

.scrollMbox {
    overflow-y: auto;
    height: 800px !important;
    padding: 1.5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollMbox::-webkit-scrollbar {
    display: none;
}


.actionbar {

    border: 1px solid var(--gray-6);
    border-radius: var(--radius-4);
    background-color: var(--gray-2);
}

.button__date__container {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius-4);
    background-color: var(--color-panel);
    display: flex;
}

.button__date__indicator {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 50%;
    background-color: var(--accent-9);
    border-radius: var(--radius-4);
    transition: left 0.3s ease, width 0.3s ease;
    z-index: 0;

}

.button__date:not(.active) {
    color: var(--gray-9);
}

.button__date.active {
    font-weight: 500;

}

.button__date {
    z-index: 2;
    width: 50%;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    border-radius: var(--radius-4);
}

.button__date__container .active:nth-child(1)~.button__date__indicator {
    left: 0%;
    width: 50%;
}

.button__date__container .active:nth-child(2)~.button__date__indicator {
    left: 50%;
    width: 50%;
}

.datepicker {
    padding: 0 10px;
    color: var(--gray-0);
    background-color: var(--gray-a3);
    outline: none;
    filter: none;
    border-radius: var(--radius-4);
    border: none;
    height: 32px;
    width: 100%;
}