:root {
    --titlebar-height: 32px;
}



.content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

.view__container {
    overflow: hidden;
}

.layout {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    margin-top: var(--titlebar-height);
    flex: 1;
    min-height: 0;
}

.navbar-normal {
    margin: 0rem 0rem 1rem 1rem;
}

.navbar-absolute {
    padding: 1rem;
    position: absolute !important;
    z-index: 1000;
    background-color: var(--gray-1);
    border: 1px solid var(--gray-6);
    border-radius: var(--radius-4);
    height: 90vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 2.35%;
    left: -0.5%;
}

.no-hover {
    position: relative !important;
    z-index: auto !important;
}

.radix-container {
    --radix-scroll-strut: 0px;
}

[data-radix-scroll-area-viewport] {
    height: 100% !important;
}

:where(.rt-PopperContent) {
    max-height: none !important;
}